
*{
    margin: 0;
    padding: 0;
    
}


.contenedor{
    position: relative;
    width: 100vw;
    height: 100vh;

}

.header{
    background-color: rgb(27, 27, 27);
    display: flex;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    width: 100vw;
    

    
}
.header>img{
    position: relative;
    width: 2.5%;
    padding-left: 0.5%;
    
}

.botonesHeader{
    position: absolute;
    padding-left: 4%;
    left: 83%;
    top: 2%;
    gap: 15px;
    display: flex;
    

}
.botonesHeader>button{
    font-size: 125%;
    background: none;
    border: none;
    color: aliceblue;
    font-family:"Inter";
    font-style: normal;
}

.body{
    background-color: rgb(240, 240, 240);
}

.bienvenida{
    text-align: center;
    display: flex;
    gap: 5px;
    position: absolute;
    width:95%;
    left: 1%;
    flex-direction: column;
    top: 10%;
    color: white;
    background-color: rgb(73, 73, 73);
    padding: 1%;
}


.caracteristicas{
    position: absolute;
    width: 90%;
    top: 20%;
    left: 6%;
    display: flex;
    flex-direction: row;
    gap: 2.5%;
    padding: 2%;
}

.caract1{
    background-color: white;
    padding-left: 8%;
    padding-right: 8%;
    text-align: center;
    padding-top: 1%;
    border: 2px solid gray;
    white-space: nowrap;
}
.caract1>h1{
    font-family: "Inter";
    font-size: 25px;
    color: rgb(88, 82, 82);
}
.caract1>p{
    color: rgb(93, 93, 94);
}

.caract2{
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 8%;
    padding-right: 8%;
    text-align: center;
    border: 2px solid gray;
    white-space: nowrap;
}
.caract2>h1{
    font-family: "Inter";
    font-size: 25px;
    color: rgb(88, 82, 82);
}
.caract2>p{
    color: rgb(93, 93, 94);
}

.caract3{
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 8%;
    padding-right: 8%;
    text-align: center;
    border: 2px solid gray;
    white-space: nowrap;
}
.caract3>h1{
    font-family: "Inter";
    font-size: 25px;
    color: rgb(88, 82, 82);
}
.caract3>p{
    color: rgb(93, 93, 94);
}

.titulos{
    position: absolute;
    top: 40%;
    left: 4%;
    display: flex;
    flex-direction: row;
    gap: 5%;
    white-space: nowrap;
    width: 90%;
}

.titulo1{
    background: white;
    padding: 1%;
    padding-left: 1%;
    padding-right: 35%;
    border: 2px solid gray;
    display: flex;
    text-align: left;
    flex-direction: column;
}

.titulo1>h1{
    font-family: "Inter";
    font-size: 25px;
    color: rgb(88, 82, 82);
}

.titulo1>p{
    color: rgb(93, 93, 94);
}


.titulo2{
    background: white;
    padding: 1%;
    padding-left: 1%;
    padding-right: 35%;
    border: 2px solid gray;
}

.titulo2>h1{
    font-family: "Inter";
    font-size: 25px;
    color: rgb(88, 82, 82);
}

.titulo2>p{
    color: rgb(93, 93, 94);
}


.enlaces{
    background: rgb(224, 224, 224);
    position: absolute;
    width: 100%;
    top: 55%;
    height: 20%;
    display: flex;
    flex-direction: column;
    gap: 15%;
    align-items: flex-start;
    
    
    
}

.enlaces>h1{
    font-family: "Inter";
    font-size: 25px;
    color: rgb(88, 82, 82);
    padding-left: 1%;
    
}

.enlaces3{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: "Inter";
    padding-left: 1%;

}

.enlaces3>a{
    text-decoration: none;
    color: rgb(57, 57, 59);
    padding-left: 0.5%;
    white-space: nowrap;

}




.footer{
    position: absolute;
    background-color: rgb(27, 27, 27);
    width: 100%;
    height: 20%;
    top: 80%;
}

.info{
    display: flex;
    text-align:center;
    flex-direction: column;
    font-family: "Inter";
    gap: 30px;
}

.info>h3{
    color: white;
    font-size: 30px;
}

.info>h4{  
    font-family: "Inter";
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.info>h4>a{
    text-decoration: none;
    color: rgb(169, 255, 255);
}

.botonesFoot .redes{
    font-family: "Inter";
    font-size: 20px ;
    color: white;
    background: rgb(27, 27, 27);
    border: none;
}